---
layout: default
title: 
tagline: 

---
{% include JB/setup %}
<div id ="main">
  <div class="container">
  <div class= "row">
    <div class= "sixteen columns page-header">
      <h1>{{ site.tagline }}</h1>
    </div>
  </div>
    <div class="row bio">
      <div class= "five columns">
        <p><span>About Me: </span></p>
      </div>
      <div class= "eleven columns">
        <p>I am a recent graduate of The Flatiron School Fellowship, where I learned how to build cool stuff for the web. Some of the projects I worked on are <a href="http://abodely.herokuapp.com/login/" target="_blank">Abodely</a> & <a href="http://givvhub.herokuapp.com/" target="_blank">Givvhub</a>. I am also a designer with a BFA in Communication Design. You can check out some of my work <a href="http://www.shellyseroussi.com" target="_blank">here</a>. I currently live in Brooklyn, NY. </p>
    </div>
  </div>
  <div class="row latest-posts">
    <div class="five columns">
      <p><span>Latest Posts: </span></p>
    </div>
     <div class= "eleven columns">
      {% for post in site.posts offset: 0 limit: 4 %}
        <article class= "sixteen columns alpha">
          <div class= "two columns alpha">
            <h2>{{ post.date | date: "%m/%d/%y" }}</h2>
          </div>
          <div class= "thirteen columns omega">
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
          </div>
        </article>
        {% endfor %}
        <div class= "offset-by-two thirteen columns alpha">
        <p><a href="/blog/">All Posts >>></a>  </p>
      </div>
      </div>
  </div>
</div>
</div>
    





