/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	body {
		
		background-image: url("../img/bright_squares.png");
		background-repeat: repeat;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

 	.content {
 		padding: 10px 20px 20px 10px;
 	}
 /* #Typography
 ================================================== */
 	h1 {
 		font-family: "ostrich-sans-bold", "Georgia", "Times New Roman", serif; 
 		color: #d6370b;
 		font-size: 80px; 
 		line-height: 60px; 
 		margin-bottom: 14px;}
 	 h2, h3 {color: #181818;
 		font-family:  "ostrich-sans-regular", "Georgia", "Times New Roman", serif;
 		font-weight: medium;}

 	  h4, h5, h6 {
 		color: #181818;
 		font-family: "Georgia", "Times New Roman", serif;
 		font-weight: medium; }
 	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
 	
 	h2 { font-size: 60px; line-height: 60px; margin-bottom: 10px; }
 	h3 { font-size: 60px; line-height: 34px; margin-bottom: 8px; }
 	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
 	h5 { font-size: 17px; line-height: 24px; }
 	h6 { font-size: 14px; line-height: 21px; }
 	.subheader { color: #777; }

 	p { margin: 0 0 20px 0; }
 	p img { margin: 0; }
 	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

 	em { font-style: italic; }
 	strong { font-weight: bold; color: #333; }
 	small { font-size: 80%; }

 /*	Blockquotes  */
 	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
 	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
 	blockquote cite { display: block; font-size: 12px; color: #555; }
 	blockquote cite:before { content: "\2014 \0020"; }
 	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

 	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


 /* #Links
 ================================================== */
 	a, a:visited { color: #d6370b; text-decoration: none; outline: 0; }
 	a:hover, a:focus { color: #d6370b; }
 	p a, p a:visited { line-height: inherit; }


 /* #Lists
 ================================================== */
 	ul, ol { margin-bottom: 20px; }
 	ul { list-style: none outside; }
 	ol { list-style: decimal; }
 	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
 	ul.square { list-style: square outside; }
 	ul.circle { list-style: circle outside; }
 	ul.disc { list-style: disc outside; }
 	ul ul, ul ol,
 	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
 	ul ul li, ul ol li,
 	ol ol li, ol ul li { margin-bottom: 6px; }
 	li { line-height: 18px; margin-bottom: 12px; }
 	ul.large li { line-height: 21px; }
 	li p { line-height: 21px; }

 /* #Images
 ================================================== */

 	img.scale-with-grid {
 		max-width: 100%;
 		height: auto; }

/* #Page Styles
================================================== */
 .navbar a {
 		float: left;
		display: inline;
		padding: 0 25px 0;
		border-right: 1px solid #d3d3d3;

	}

.posts {
	margin-top: 20px;
}

.posts li {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

/* #Header Styles
================================================== */
header{
	text-align: center;
}

header h2 {
	margin-top: 0;
}

header h1 a {
	color: #d6370b;
}
header h1 a:visited {
	color: #d6370b;
}
nav ul li {
	display: inline;
	border-right: 3px solid #d3d3d3;
	padding: 0 10px 0;


}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.remove-top { margin-bottom: 0 !important; }



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'ostrich-sans-bold';
	    src: url('../fonts/ostrich-sans-bold.eot');
	    src: url('../fonts/ostrich-sans-bold?iefix') format('eot'),
	         url('../fonts/ostrich-sans-bold.woff') format('woff'),
	         url('../fonts/ostrich-sans-bold.ttf') format('truetype'),
	      url('../fonts/ostrich-sans-bold.svg#webfontZam02nTh') format('svg');
	    font-weight: bold;
	    font-style: bold; }

	    @font-face {
	    font-family: 'ostrich-sans-regular';
	    src: url('../fonts/ostrich-sans-regular.eot');
	    src: url('../fonts/ostrich-sans-regular?iefix') format('eot'),
	         url('../fonts/ostrich-sans-regular.woff') format('woff'),
	         url('../fonts/ostrich-sans-regular.ttf') format('truetype'),
	      url('../fonts/ostrich-sans-regular.svg#webfontZam02nTh') format('svg');
	    font-weight: bold;
	    font-style: bold; }
*/