<div id="post">
    <div id= "nav-single">
        {% if page.previous %}
          <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" rel="prev"><span class="prev">&larr; Previous</span></a>
        {% else %}
          <a><span class="prev disabled">&larr; Previous</span></a>
        {% endif %}
        {% if page.next %}
          <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"><span class="next">&larr; Next</span></a>
        {% else %}
          <a><span class="next disabled">&larr; Next</span></a>
        {% endif %}
    </div>
    <div class="container">
    
    <div class= "sixteen columns">
      <div class="page-header">
      <h1>{{ page.title }}</h1>
      <h3>Posted on <span>{{ page.date | date_to_long_string }}</span></h3>
    </div>
      {{ content }}
        </div>

<!--   {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  -->

   {% include JB/comments %} 


</div>
</div>
